{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <ul>
        <li><a href="#kmom01">kmom01</a></li>
    </ul>
    <h2 id="kmom01">kmom01</h2>
    <strong>
        Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.
    </strong>
    <p>Mina tidigare erfarenheter inom objektorienterad programmering kommer mest från OOPython då vi använde det för att bygga tärningar för Yahtzee.</p>

    <strong>
        Berätta kort om PHPs modell för klasser och objekt.
        Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?
    </strong>
    <p>
        En klass är ett sorts mall som används för att kunna skapa ett objekt.
        Ett objekt i sin tur innehåller medlemsvariabler som definierar den specifika objektets värden och metoder som bestämmer vad objekteten kan/inte kan göra.
    </p>

    <strong>
        Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?
    </strong>

    <strong>
        Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla?
        Är det några särskilda områden som du känner att du vill veta mer om?
        Lyft fram några delar av artikeln som du känner mer värdefulla.
    </strong>
    <p>
        Tyvärr har jag inte läst igenom hela sidan än, och därför kan jag inte kommentera så mycket om det.
        Däremot så tycker jag om att ha tillgång en sådan sida med mycket information om hur man kan bli en bättre programmerare.
    </p>

    <strong>
        Vilken är din TIL för detta kmom?
    </strong>
    <p>TIL om hur jag skapar en sida med Symfony och om PHP-kodstandard.</p>

{% endblock %}
