{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Hej, mitt namn är Kaveh Shily.</p>
    <p>Jag är 23 år gammal och bor i Karlskrona ensam. Innan bode jag tillsammans med min familj i Eslöv.</p>
    <p>Jag studerar just nu webbprogrammering i Blekinge Tekniska Högskola.</p>
    <img src="{{ asset('build/images/kvsh.jpg') }}" alt="">
{% endblock %}
